= form_for [@issue, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  .fieldset
    .field
      = f.label :content
      = f.text_area :content
  .actions
    = f.submit 'Submit'
