%h1 Comments

%table
  - comments.each do |comment|
    %tr
      %th= describe_comment_author(comment)
      %th
        at
        = comment.created_at
    %tr
      %td= h simple_format(comment.content)

