= form_for @issue do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg
  .fieldset
    .field
      = f.label :customer_name
      = f.text_field :customer_name
    .field
      = f.label :customer_email
      = f.text_field :customer_email
    .field
      = f.label :department_id, 'Department'
      = f.collection_select :department_id, Department.all, :id, :name, prompt: '-- select one --'
    .field
      = f.label :content, 'Description'
      = f.text_area :content
  .actions
    = f.submit 'Submit'
