%h1 Listing issues
= label_tag 'Show'
= select_tag :filter, issue_filter_options, onchange: 'window.location = $(this).find("option:selected").data("url")', include_blank: true

%table
  %tr
    %th Customer Name
    %th Customer Email
    %th Owner
    %th Department
    %th State
    %th Created At
  - @issues.each do |issue|
    %tr
      %td= issue.customer_name
      %td= issue.customer_email
      %td= describe_user(issue.user)
      %td= issue.department.try(:name)
      %td= issue.state.humanize
      %td= issue.created_at
      %td= link_to 'Show', issue

%br

= link_to 'New Issue', new_issue_path
