%br
= link_to 'New Issue', new_issue_path
%p#notice= notice

%table
  - if signed_in?
    %tr
      %td Owner
      %td#owner_container= describe_user(@issue.user)
    %tr
      %th Actions
      %td
        - if @issue.owned_by?(current_user)
          - @issue.aasm.events.each do |event|
            = link_to event.to_s.humanize, issue_fire_path(@issue, event: event)
        - else
          = link_to 'Take ownership', issue_take_ownership_path(@issue)
  %tr
    %th Issue #
    %td= @issue.id
  %tr
    %th Customer Name
    %td= @issue.customer_name
  %tr
    %th Customer Email
    %td= @issue.customer_email
  %tr
    %th Department
    %td= @issue.department.try(:name)
  %tr
    %th State
    %td#state_container= @issue.state.to_s.humanize
  %tr
    %th Created At
    %td= @issue.created_at
  %tr
    %th Description
    %td= h simple_format(@issue.content)
- if signed_in?
  = link_to 'Back to Issues', issues_path
#comments
  = render 'comments/index', comments: @issue.comments
#new_comment
  %h3 New comment
  = render 'comments/form'
