!!!
%html
  %head
    %title SimpleIssueTracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #login_menu
    - if user_signed_in?
      Welcome, #{describe_user(current_user)}
      = link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      = link_to 'Login', new_user_session_path
    = yield
